@charset "UTF-8";

/* Historico */
.card-style {
  background-color: rgb(26, 36, 44);
  font-family: 'Sawarabi Gothic', sans-serif;
  color: rgb(204, 204, 204);
}
.card-header-style{
  background-color:rgb(25, 31, 37);
  font-family: 'Sawarabi Gothic', sans-serif;
  color:rgb(57, 133, 168);
}
